
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #090808;
    color: #fff;
    
    
    
    
}

html{
    scroll-behavior: smooth;
    
}

.container{
    padding:10px 10%;
   

   
    
}

header{

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
   padding-top: 40px;
   background-color: #090808;
 
   
}




header  .bta{
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: #fff;
}
a{
    text-decoration: none;
}

.logo {
    color:#8080FF;
    font-family: 'Notable';
    font-weight: 1000;
    font-size:2.5rem;
    

}
.navbar{
    display: flex;
    list-style-type: none;
    
    
}

.navbar  a{

    color: #fff;
    font-size: 25px;
    padding: 10px 20px;
    font-weight: 300;
   
    
}


#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: #8080FF;
    
}

.active{
    background: #8080FF;
}

.navbar a:hover{

    background: #8080FF;
    transition: 3s;
}


.submenu{
    list-style-type: none;
   
    border-top: 3px solid #8080FF;
    visibility: hidden;
    opacity: 0;
    
}

.navbar li:hover .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    
    
}

.fa-caret-down{

    font-size: 30px;
}

/*---------------HOME-----------------*/




.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
    padding: 80px;
    padding-top: 140px
    
}

.home-img img{

    max-width: 90%;
    width: 480px;
    height: auto;
    margin-top: 110px;
}

.home-text h1{
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    font-size:xx-large;
}


.home-text h3{

  font-weight: 500; 
  margin: 0 0 20px; 
  font-size: x-large;
}

.home-text p{

    max-width: 470px;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}



.btn{
    background: #8080FF;
    color: #fff;
    box-shadow: 4px 4px;
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;

}

.btn:hover{
    background: #fff;
    color: #8080FF;
    box-shadow:4px 4px ;
}

span{
    color: #8080FF;
}



/*--------------------------new about---------------*/

.row-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 160px;
}

.about-col-1{
    flex-basis: 35%;
}


.about-col-1 img{
    width:100%;

}

.about-col-2{
    flex-basis:50%;
}

.about-p{

    padding-top: 80px;
}
.about{

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: centre;
    padding-left: 112px;
   

}



/*.about-img {
    width: 530px;
    height: auto;
    padding-right: 150px;
    
    
    
}*/


.about-text{

    flex-basis:60% ;
}
.about-text span{

    
    font-size:x-large;
    

    font-size: 30px; 
    font-weight: 600;
    
}

.project-container{
    margin-top: 160px;
}

/*.about-text p{

    padding-top: 50px;
    padding-bottom: 40px;
    
}*/


/******new qualification--------------*/


.qualification{
    text-align: center;
    padding-top: 140px;
   
}

.title-heading{
    padding-bottom: 10px;
}


.edu-work {
    display: flex;
}




.eduwork-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    
    border-bottom: 2px solid #ddd;
   
}

.tab-buttons {
    display: flex;
    align-items:center;
    gap: 40px;
    cursor: pointer;
    
}




.tab-buttons i {
    font-size: 40px;
    margin-right: 120px; /* Shift the icon to the right */
}

.tab-buttons.right i {
    margin-right: 0; /* Reset margin for right-aligned icons */
    margin-left: 80px; /* Shift the icon to the left */
}








.fa-graduation-cap{

    font-size: 1.8rem;
    
}

.fa-briefcase{
    font-size: 1.8rem;
}

.fa-solid{
    color: #8080FF;
    
}






.timeline{
    position: relative;
    max-width: 100%;
    margin: 100px auto;
    
   
   
}

.timeline::after{

    content: "";
    position: absolute;
    width: 3px;
    height: 74%;
    background: #fff;
    top: 10px;
    left: 49%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
    
}

@keyframes moveline {

    0%{
        height: 0%;
    }

    74%{
        height: 100%;
    }
}

.work-container {
   
    
    position: relative;
    width: 45%;
    
    animation: movedown 1s linear forwards;
    opacity: 0;

}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translate(-30px);
    }

    100%{

        opacity: 1;
        transform: translate(0px);

    }
}

.work-container:nth-child(1){
    animation-delay: 0s;
}


.work-container:nth-child(2){
    animation-delay: 1s;
}

.work-containerr:nth-child(3){
    animation-delay: 2s;
}

.work-container:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: black;
    
}

.left-container{
    left: 0;
}

.right-container{

    left: 50%;
}

.container .fa-circle{

    position: absolute;
    right: -76px;
    width: 40px;
    
    border-radius: 50%;
    z-index: 10px;
}

.right-container .fa-circle{
    left: -22px;
}




 .skills-content {

    display:flex;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    grid-gap:40px;
    height: 70vh;
   
    

    
}


.skills-heading {
    text-align: center;
   padding-bottom: 100px;
    
}

 .skills-content .card{
    position: relative;
    width:290px;
    height:185px;
    margin: 10px;
    transform-style: preserve-3d;
    perspective: 1000px;
    
   
    
}

.skills-content .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;

}



.skills-content .card:hover .box{

    transform: rotateY(180deg);
}

.skills-content .card .box .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.skills-content .card .box .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills-content .card .content-box{

  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#8080FF; 
  backface-visibility: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  transform:rotateY(180deg)
}

.skills-content .card .box .content-box div{

    transform-style: preserve-3d;
    padding: 2px;
    background: linear-gradient(45deg, #4158d0,#3505a3);
    transform: translateZ(90PX)
}

.skills- .card .box .content-box div h2{

    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
}


.skills- .card .box .content-box div p{

    color:#fff;
    font-size: 6px;
    letter-spacing: 1px;
}


.projects{
    padding: 10px 10%;
}

.Sub-title {
    text-align: center; /* Center horizontally */
    display: flex; /* Center vertically */
    justify-content: center; /* Center horizontally (within flex container) */
    align-items: center; /* Center vertically (within flex container) */
     /* Set height to viewport height for vertical centering */
  }
  

.project-list{
    display:grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:60px;
    margin-top: 50px;
   
    justify-content: center;
    align-items: center;
    
}

.project-name{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-name img{
    width: 300px; 
    height: 200px;
    
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#3505a3);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #8080FF;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project-name:hover img{

    transform: scale(1.1);
}

.project-name:hover .layer{
    height: 100%;
}


/*------------------Contact---------------*/

.contact-container  {
    margin-top: 160px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
}

.contact {
    
    grid-template-columns: repeat(2rem, 1fr);
    grid-gap: 5rem;

    padding: 10px 10%;;
   
}


.Sub-title1{
    
    text-align: center;
    padding-right: 20px;
    padding-bottom: 50px;
    
}


.contact-left {
    flex-basis: 28%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color:#8080FF;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;

}

.social-icons a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #8080FF;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}



 .btn2 {
    display:flex;
    text-align: center;
    background: #8080FF;
    color: #fff;
    box-shadow: 4px 4px;
    padding: 0 40px;
    line-height: 42px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}



form input,
form textarea {
    width: 75%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
  
}

form .btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.input-group span{
    position: relative;
    
    
}







@media only screen and (max-width:600px){


    .container{     
      width: 100%;
        padding: 10px 3%;      
    }

    

   
    #menu-icon{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding-right: 20px;
        margin-top: 60px;        
    
       
    }
   
    .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background:#090808;
        box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
        text-align: left;
        transform: 0.2s;
       
       
    }

    .navbar a{
        display: block;
        padding: 1rem;
        border-left: 2px solid #8080FF;
        margin: 1rem;
        display: block;
        
    }

    .navbar.active{

        top:100%
    }


    
    .home{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        align-items: center;
        padding: 0 25px;
        padding-top:88px;
    }
    .home-text {
        margin-top: 70px;
    }

    .home-text h1{
        font-size: x-large;
    }
  
    .home-text p{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

   
.home-img img{
    margin-top: 2px;
    max-width: 100%;
}



.logo{

    font-weight: 400;
    position: fixed;
   
    
}

#about{

    display: flex;
     flex-direction: column;
   max-width: 100%;
    text-align: center;
    align-items: center;


    
    
}

.navbar li .submenu {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.navbar li:hover .submenu {
    display: block;
    visibility: visible;
    opacity: 1;
}
.about-col-1 img{
    display: none;
}

.row-about{
    display: grid;
    justify-content: center;
  align-items: center;
  max-width: 100%;

}



.about-p{
    font-size: 15px;
    text-align: center;
    max-width: 100%;
    padding-top: 30px;
   
}

.qualification{
    
    display: flex;
    flex-direction: column;
  max-width: 100%;
   text-align: center;
   padding-top: 80px;
   
}
.title-heading{
    
    font-size: large;
   
}

.journey{
    font-size: small;
   
}
.tab-buttons {
    flex-direction: column;
 
    
   
   
}
.edu-word{
   
    margin-right:30px;

}



.tab-buttons i {
    font-size: 30px;
    margin-right: 90px; /* Shift the icon to the right */
}

.container .fa-circle {
    position: absolute;
    right: -51px;
    width: 46px;
    border-radius: 50%;
    z-index: 10px;
}
.right-container .fa-circle {
    left: -15px;
}


.text-box{
    padding: 12px 6px;
    border-radius: 20px;
    font-size: 9px;
   
    
}

.contact-left {
    flex-basis: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.contact-right{
    flex-basis: 100%;
}


form input,
form textarea {
    width: 100%;
    
  
}















}


@media only screen and (min-width:601px) and (min-width:768px){


    .container{
       
        width: 100%;
       
        
    }

    
    

    

    
}




@media only screen and (min-width:992px){


    .container{
       
        width: 100%;
       
       
    }


    
}


@media only screen and (min-width:1200px){


    .container{
        
        width: 100%px;
        
       
    }

    
}