
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #090808;
    color: #fff;
    
    
}

html{
    scroll-behavior: smooth;
    
}

header{

    
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 24px 14%;
   
}
a{
    text-decoration: none;
}

.logo {

    color:#8080FF;
    font-family: 'Notable';
    font-weight: 1000;
    font-size:4rem;
    
}
.navbar{
    display: flex;
    list-style-type: none;
    
}

.navbar a{

    color: #fff;
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 300;
}

.navbar a:hover{

    background: #8080FF;
    transition: 3s;
}

/*---------------HOME-----------------*/


section .home{
    padding:120px 14%;

}


.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
    padding: 140px 14% ;
    
    
}

.home-img img{

    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1{
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    font-size:xx-large;
}


.home-text h3{

  font-weight: 500; 
  margin: 0 0 20px; 
  font-size: x-large;
}

.home-text p{

    max-width: 470px;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.btn{
    background: #8080FF;
    color: #fff;
    box-shadow: 4px 4px;
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;

}

.btn:hover{
    background: #fff;
    color: #8080FF;
    box-shadow:4px 4px ;
}

span{
    color: #8080FF;
}

.about{

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: centre;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.about img{
    width: 50px;
    height: auto;
}
.about-text span{

    padding-left: 150px;
    font-size:x-large;
    font-weight: 800;
    
}

.about-text p{

    padding-top: 50px;
    padding-bottom: 40px;
}

.qualification{

    padding-left: 170px;
    padding-right: 170px;
}

.section-title{
    margin-left: 450px;
}

.section-subtitle{

    margin-left: 450px;
}

.qualification-tabs{

display: flex;
justify-content:space-between;
margin-bottom: 20px;
padding-top: 30px;
padding-left: 100px;
padding-right: 100px;



}

.qualification-button-flex{

    font-size: x-large;
    font-weight: 500; 
    cursor: pointer;


}

.qualification-button-flex:hover{

    color: #8080FF;

}

.fa-graduation-cap{

    font-size: 1.8rem;
    
}

.fa-briefcase{
    font-size: 1.8rem;
}

.fa-solid{
    color: #8080FF;
    
}

.about-img img{

    max-width: 100%;
    width: 380px;
    height: auto;
}




.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.timeline::after{

    content: "";
    position: absolute;
    width: 3px;
    height: 74%;
    background: #fff;
    top: 10px;
    left: 49%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
    
}

@keyframes moveline {

    0%{
        height: 0%;
    }

    74%{
        height: 100%;
    }
}

.container{

    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translate(-30px);
    }

    100%{

        opacity: 1;
        transform: translate(0px);

    }
}

.container:nth-child(1){
    animation-delay: 0s;
}


.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: black;
    
}

.left-container{
    left: 0;
}

.right-container{

    left: 50%;
}

.container .fa-circle{

    position: absolute;
    right: -20px;
    width: 40px;
    top: 4px;
    border-radius: 50%;
    z-index: 10px;
}

.right-container .fa-circle{
    left: -20px;
}


@media screen and (max-width:600px){

    .timeline{
        margin:50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{

        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }
    .text-box h4{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container .fa-circle , .right-container .fa-circle{
        left: 20px;
    }

    
}


.skills-section span{

    padding-left: 45%;
    
}

.skills-content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    height: 100vh
    
}


 .skills-content .card{
    position: relative;
    width:320px;
    height:185px;
    margin: 25px;
    transform-style: preserve-3d;
    perspective: 1000px;
    padding-right: 200px;
    
}

.skills-content .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;

}

.skills-content .card:hover .box{

    transform: rotateY(180deg);
}

.skills-content .card .box .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills-content .card .box .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills-content .card .content-box{

  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#8080FF; 
  backface-visibility: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  transform:rotateY(180deg)
}

.skills-content .card .box .content-box div{

    transform-style: preserve-3d;
    padding: 2px;
    background: linear-gradient(45deg, #4158d0,#dd7ca6);
    transform: translateZ(90PX)
}

.skills- .card .box .content-box div h2{

    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
}


.skills- .card .box .content-box div p{

    color:#fff;
    font-size: 6px;
    letter-spacing: 1px;
}


.projects{
    padding:50px 0;
}

 

.project-list{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:60px;
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.project-name{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-name img{
    width: 300px; 
    height: 200px;
    
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#3505a3);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #8080FF;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project-name:hover img{

    transform: scale(1.1);
}

.project-name:hover .layer{
    height: 100%;
}
